
body{
  background-image: url("../css/img/ondas.jpg");
  background-attachment: fixed;
  background-size: 100%;
  color: ivory;
}   

header nav {
  background: url("../css/img/header/bg.jpg");
  border: ivory;

}

#BemVindo{
    text-align: center;
    margin-top: 20%;
    font-size: 5.2em;
    font-weight: 100;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #585858;
}
h3 {
  color: ivory;
}
h2{
  margin-top: 7px;
  text-align: center;
  color: ivory;

}
#sendButton{
  background-color: transparent;
  color: ivory;
  font-weight: bold;
}
#sendButton:hover{
  background-color: cornflowerblue;
  color: ivory;
}

p{
  color: ivory;
}

footer{    
    text-align: center;
    background: url("../css/img/footer/bg.jpg");
    padding: 15px 0;
    border: ivory;

}