
body{
  margin:0;
  background: url("../css/img/ondas.jpg") ;
  background-attachment: fixed;
  background-size: 100%;
  color: ivory;
  font-weight: 100;

}   
header nav {
  background: url("../css/img/header/bg.jpg");
}

#BemVindo{
    text-align: center;
    margin-top: 20%;
    font-size: 5.2em;
    font-weight: 100;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #585858;

}

footer{    
    text-align: center;
    background: url("../css/img/footer/bg.jpg");
    padding: 15px 0;
}